# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.class

# Environment Variables
.env

# SQLite Database
db.sqlite3

# Static & Media
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/
